<div class="flex flex-col h-96">

  <div class="flex justify-between items-center">
    <h2 class="text-xl font-semibold mb-4">
      {{ movement() === 'income' ? 'Lucros' : 'Despesas' }}
    </h2>

    <app-button-add 
      [label]="movement() === 'income' ? 'Receita' : 'Despesa'"
      [typeFormAdd]="movement()!"
    />
  </div>

  <div class="flex justify-between py-2">
    <span class="text-gray-400">Descrição</span>
    <span class="text-gray-400">Valor</span>
  </div>

  <div class="flex-1 overflow-y-auto pr-2 custom-scroll">

    @if (loading == true) {

      <div class="flex items-center justify-center h-full">
        <mat-spinner></mat-spinner>
      </div>

    } @else {

      @for (movement of items; track movement.id) {

        <div class="flex justify-between py-2 border-b border-gray-700">

          <span 
            class="cursor-pointer hover:underline"
            (click)="openEditModal(movement)">
            {{ movement.description }}
          </span>

          @if (movement.type === 'INCOME') {
            <span class="text-green-400">
              + {{ movement.amount | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
            </span>
          }

          @if (movement.type === 'EXPENSE') {
            <span class="text-red-400">
              - {{ movement.amount | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
            </span>
          }

        </div>

      } @empty {

        <div class="flex items-center justify-center h-full text-gray-500">
          Sem movimentações financeiras
        </div>

      }

    }

  </div>

  <h3 class="text-right pt-4">
    Total: {{ total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
  </h3>

</div>